---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} リキンダ. All rights reserved.</p>
	<p class="built-with">
		Built with <a href="https://astro.build/" target="_blank">Astro</a>
	</p>
</footer>
<style>
	footer {
		padding: 2em 1em 4em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0.3em 0;
		font-size: 0.9em;
	}
	footer a {
		color: rgb(var(--gray));
		text-decoration: underline;
	}
	footer a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
